<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bitsly.bud.base.dao.KVConfigDao">

    <resultMap id="BaseMap" type="org.bitsly.bud.base.pojo.entity.KVConfigEntity">
        <id property="id" column="f_id" />
        <result property="key" column="f_key"/>
        <result property="value" column="f_value"/>
    </resultMap>

    <select id="selectOneByPrimaryKey" resultMap="BaseMap">
		select f_id, f_key, f_value from t_kv_config where f_key = #{key}
	</select>
</mapper>