<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

  <springProperty name="APP_NAME" source="spring.application.name" defaultValue="NOT_SET"/>
  <springProperty name="ENV_NAME" source="spring.profiles.active" defaultValue="NOT_SET"/>
  <springProperty name="HOSTNAME" source="info.host" defaultValue="NOT_SET"/>
  <springProperty name="BUILD_LABEL" source="info.build.label" defaultValue="NOT_SET"/>
  <springProperty name="BUILD_VERSION" source="info.build.version" defaultValue="NOT_SET"/>
  <springProperty name="BUILD_HASH" source="info.build.hash" defaultValue="NOT_SET"/>
  <springProperty name="BUILD_TIME" source="info.build.time" defaultValue="NOT_SET"/>
  <springProperty name="BUILD_TIMESTAMP" source="info.build.timestamp" defaultValue="NOT_SET"/>

  <!-- This is the kafkaAppender -->
  <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
    <!-- This is the default encoder that encodes every log message to an utf8-encoded string  -->
    <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
      <!-- About how to config LogstashLayout, please read https://github.com/logstash/logstash-logback-encoder/blob/master/README.md -->
      <layout class="net.logstash.logback.layout.LogstashLayout">
        <customFields>
          {"app":"\${APP_NAME}","env":"\${ENV_NAME}","hostname":"\${HOST_NAME}","build_git_label":"\${BUILD_GIT_LABEL}","build_git_version":"\${BUILD_GIT_VERSION}","build_git_hash":"\${BUILD_GIT_HASH}","build_timestamp":"\${BUILD_TIMESTAMP}"}
        </customFields>
      </layout>
    </encoder>

    <topic>bud-logger</topic>
    <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy"/>
    <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>

    <!-- each <producerConfig> translates to regular kafka-client config (format: key=value) -->
    <!-- producer configs are documented here: https://kafka.apache.org/documentation.html#newproducerconfigs -->
    <!-- bootstrap.servers is the only mandatory producerConfig -->
    <producerConfig>bootstrap.servers=${logging.servers}</producerConfig>

    <!-- this is the fallback appender if kafka is not available. -->
    <appender-ref ref="CONSOLE"/>
  </appender>

  <root level="INFO">
    <springProfile name="local">
      <appender-ref ref="CONSOLE"/>
    </springProfile>
    <springProfile name="!local">
      <appender-ref ref="kafkaAppender"/>
    </springProfile>
  </root>

</configuration>
