<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <property name="FLUENTD_HOST" value="${FLUENTD_HOST:192.168.192.111}"/>
  <property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}"/>

  <!--同步输出到FLUENT-->
  <appender name="FLUENT_SYNC" class="ch.qos.logback.more.appenders.DataFluentAppender">
    <tag>app</tag>
    <label>app</label>
    <remoteHost>${FLUENTD_HOST}</remoteHost>
    <port>${FLUENTD_PORT}</port>
    <useEventTime>true</useEventTime>
  </appender>

  <!--异步输出到FLUENT-->
  <appender name="FLUENT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
    <discardingThreshold>0</discardingThreshold>
    <!-- 更改默认的队列的深度,该值会影响性能.默认值为256, 例子中8192为8k -->
    <queueSize>8192</queueSize>
    <!-- 队列满时是否阻塞-->
    <neverBlock>true</neverBlock>
    <maxFlushTime>10000</maxFlushTime>
    <includeCallerData>true</includeCallerData>
    <appender-ref ref="FLUENT_SYNC" />
  </appender>

  <root level="info">
    <springProfile name="local">
      <appender-ref ref="CONSOLE" />
    </springProfile>
    <springProfile name="!local">
      <appender-ref ref="FLUENT_ASYNC" />
    </springProfile>
  </root>
</configuration>
